# Copiar a .env y ajustar. El archivo .env NO se versiona.
POSTGRES_DB=fintech
POSTGRES_USER=fintech
POSTGRES_PASSWORD=cambiame_en_local
POSTGRES_PORT=5432

# Usado por dbmate (Fase 2 en adelante)
DATABASE_URL=postgres://fintech:cambiame_en_local@localhost:5432/fintech?sslmode=disable
